.navbar{
    padding-right: 2rem;
}

nav {
    display: flex;
    justify-content: center;
    gap:6rem;
}

.activeLink {
    text-decoration: underline;
    text-decoration-color: #2208a4;
    color: #2208a4;

}

a{
    text-decoration: none;
}